@import "./colors";

.container {
  display: flex;
  flex: 1;
  height: 100vh;
}

.containerLeft {
  background-color: $white-200;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.containerRight {
  background-color: $white;
  display: flex;
  flex: 1;
  justify-content: center;

  > main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > form {
      width: 100%;
    }
  }
}

.subTitle {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: $gray;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-align: left;
  width: 100%;
}

.title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2.0625rem;
  color: $gray;
  margin-bottom: 2.5rem;
  margin-top: 0;
  text-align: left;
  width: 100%;
}

.input {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: $gray;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;

  > input {
    border: 0.0625rem solid $white-300;
    border-radius: 0.25rem;
    padding: 1.25rem 1rem;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: $gray;
    margin-top: 0.625rem;
  }
}

.containerActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.625rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: $gray;

  > input {
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: $white-200;
    border-radius: 50%;
    vertical-align: middle;
    border: 0.0625rem solid $white-300;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    &:checked {
      background-color: $green-light;
    }
  }
}

.link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: $purple-light;
  text-decoration: none;
}

.loginButton {
  background: $green-light;
  border-radius: 0.25rem;
  height: 3.125rem;
  display: block;
  width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: $white;
  cursor: pointer;
  margin-bottom: 1rem;
}

.loginGoogleButton {
  background: $gray;
  border-radius: 0.25rem;
  height: 3.125rem;
  display: flex;
  width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: $white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 3.125rem;

  > p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: $gray;
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .containerLeft {
    display: none;
  }

  .containerRight {
    > main {
      max-width: 25rem;
    }
  }
}

@media (max-width: 768px) {
  .containerRight {
    > main {
      width: 70%;
      max-width: 25rem;
    }
  }
}

@media (max-width: 568px) {
  .containerRight {
    padding: 0 1.5rem;

    > main {
      width: 100%;
      max-width: 100%;
    }
  }
}
